body {
  font-size: 16px;
  line-height: 22px;
  color: #fff;
  font-weight: 500;
  font-family: "Roboto", "Arial", sans-serif;
  background-color: #89a194;
  background-image: url(../img/slider-foto-1.png);
  background-repeat: no-repeat;
  background-position: top center;
  transition: background-image 0.5s ease, background-color 0.5s ease;
  margin: 0 auto;
  max-width: 1200px;
}
*, *:before, *:after {
  box-sizing: border-box;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.container {
  min-width: 900px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 2.3%;
  position: relative;
  background-color: transparent;
}
.header-style {
  width: 100%;
  padding: 0;
  margin: 0;
}
.header-menu {
  width: 45.1%;
  float: left;
  padding: 0;
  margin: 0;
  margin-right: 2.2%;
}
.main-logo {
  width: 154px;
  height: 73px;
  float: left;
  padding: 0;
  padding-top: 9px;
  margin: 0;
  margin-right: 16px;
  margin-left: -5px;
}
.main-menu {
  padding: 0;
  padding-top: 23px;
  margin: 0;
}
.submenu {
  display: none;
}
.main-menu ul {
  padding: 0;
  margin: 0;
  font-size: 0;
  list-style: none;
}
.main-menu li {
  display: inline-block;
  vertical-align: middle;
  padding: 6px 12px 6px 12px;
}
.main-menu a {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 20.8px;
  display: block;
  text-decoration: underline;
}
.main-menu li:hover {
  background-color: #fff;
  border-radius: 20px;
}
.main-menu a:hover {
  color: #000;
  text-decoration: none;
}
.main-menu li:active {
  background-color: #fff;
  box-shadow:  inset 0px 2px 1px 0px rgba(105, 105, 105, 1);
  border-radius: 20px;
  text-decoration: none;
}
.main-menu a:active {
  color: #000;
  text-decoration: none;
}
.submenu a:hover {
  background-color: #fbded7;
}
.submenu a:active {
  background-color: #f6b5a5;
}
.active-menu {
  background-color: #d07058;
  border-radius: 20px;
}
.timetable {
  width: 173px;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 2.2%;
  top: 100%;
  text-align: right;
  font-size: 14px;
  font-weight: 700;
  line-height: 18.2px;
  background-color: transparent;
}
.timetable span {
  font-size: 22px;
  font-weight: 900;
  line-height: 28.6px;
}
.user-block {
  width: 30.5%;
  float: right;
  padding: 0;
  padding-top: 27px;
  margin: 0;
  text-align: right;
  background-color: transparent;
}
.user-block a {
  color: #fff;
  text-decoration: none;
}
.search {
  border-radius: 25px;
  margin: 0;
  position: relative;
  padding: 7px 16px;
  font-size: 14px;
  line-height: 18.2px;
  background-color: #b0c0b7;
}
.search-box {
  display: none;
}
.search svg {
  fill: #fff;
  position: absolute;
  top: 7px;
  left: 7px;
}
.login {
  position: relative;
  margin: 0;
  margin-left: 9px;
  padding: 8px 13px 8px 44px;
  background: #b0c0b7;
  border-radius: 25px;
  font-size: 14px;
  line-height: 18.2px;
}
.enter-icon {
  fill: #fff;
  position: absolute;
  top: 6px;
  left: 16px;
}
.login-box {
  display: none;
}
.border {
  fill: #fff;
}
.cart {
  position: relative;
  margin: 0;
  margin-left: 10px;
  padding: 8px 34px 8px 42px;
  background: #b0c0b7;
  border-radius: 25px;
  font-size: 14px;
  line-height: 18.2px;
}
.cart-icon {
  position: absolute;
  left: 16px;
  top: 7px;
}
.full-cart {
  display: none;
}
.full-cart-icon .inside {
  fill: #ec573b;
}
.full-cart-icon .border {
  fill: #343434;
}
.cart-box {
  display: none;
}
.delete-icon svg {
  fill: #353535;
} 
.slider {
  width: 100%;
  /*min-height: 681px;*/
  margin: 0 auto;
  position: relative;
  background-color: transparent;
}
.slider-content {
  width: 100%;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  padding-top: 319px;
  position: relative;
  text-align: center;
  color: #fff;
}
.slider-content h1 {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-size: 60px;
  line-height: 60.35px;
  font-weight: 900;
}
.buy-button {
  display: inline-block;
  padding: 1px 44px 1.5px 44px;
  font-size: 31.5px;
  font-weight: 700;
  line-height: 63px;
  vertical-align: top;
  color: #fff;
  text-decoration: none;
  border-radius: 100px;
  text-shadow: 0 2px 5px rgba(160,32,11,0.76);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64); 
  background: #f26843;
  background: -moz-linear-gradient(90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
  background: -webkit-linear-gradient(90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
  background: -o-linear-gradient(90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
  background: -ms-linear-gradient(90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
  background: linear-gradient(180deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
}
.buy-button:hover, .btn:hover {
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 1);
  background: -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
}
.buy-button:active, .btn:active {
  box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 1);
  background: -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
}
.slider>input[type="radio"] {
  display: none;
}
.label-controls {
  position: absolute;
  bottom: 22px;
  left: 0;
  z-index: 20;
  font-size: 0;
}
.label-controls label {
  display: inline-block;
  width: 21px;
  height: 21px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 50%;
  cursor: pointer;
}
.slide {
  display: none;
}
#btn1:checked ~ .slider-content #slide1, 
#btn2:checked ~ .slider-content #slide2, 
#btn3:checked ~ .slider-content #slide3 {
  display: block;
}
#btn1:checked ~ .label-controls label[for="btn1"], 
#btn2:checked ~ .label-controls label[for="btn2"],
#btn3:checked ~ .label-controls label[for="btn3"] {
  background-color: #fff;
}
#btn1:checked ~ body {
  background-color: #89a194;
  /*background-image: url(../img/slider-foto-1.png);*/ 
}
#btn2:checked ~ body {
  background-color: #8996a6;
  background-image: url(../img/slider-foto-2.png);
}
#btn3:checked ~ body {
  background-color: #9d8b84;
  background-image: url(../img/slider-foto-3.png);
}
.btn {
  color: #fff;
  border-radius: 25px;
  border: none;
  text-decoration: none;
  text-align: center;
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64); 
  background: rgb(231, 74, 53);
  background: -moz-linear-gradient(90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
  background: -webkit-linear-gradient(90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
  background: -o-linear-gradient(90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
  background: -ms-linear-gradient(90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
  background: linear-gradient(180deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
}
.promo1 {
  width: 48.9%;
  min-height: 230px;
  padding: 14px 21px 23px 18px;
  float: left;
  margin: 0;
  margin-right: 2.2%;
  margin-bottom: 40px;
  border-radius: 15px;
  background-color: #5a3324;
  background: url(../img/raspberry-bg-main.jpg);
}
.promo2 {
  width: 48.9%;
  min-height: 230px;
  padding: 12px 21px 30px 19px;
  float: right;
  margin: 0;
  margin-bottom: 40px;
  border-radius: 15px;
  background-color: #5a3324;
  background: url(../img/chocolate-bg-main.jpg);
}
.promo1 h2 {
  margin: 0;
  margin-bottom: 13px;
  padding: 0;
  font-size: 35px;
  font-weight: 700;
  line-height: 45.5px;
}
.promo2 h2 {
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
  font-size: 35px;
  font-weight: 700;
  line-height: 45.5px;
}
.promo1-description, .promo2-description {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  margin: 0;
  margin-left: 1px;
  margin-bottom: 45px;
}
.promo2-description {
  margin-bottom: 40px;
}
.promo1 .btn {
  float: right;
  padding: 10px 23px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}
.promo2 .btn {
  float: right;
  padding: 11px 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}
.breadcrumbs {
  width: 80%;
  margin-top: 25px;
}
.catalog-title {
  width: 100%;
  font-size: 35px;
  font-weight: 700;
  line-height: 30px;
  margin: 0;
  margin-bottom: 25px;
  padding: 5px 0;
}
.breadcrumbs ul {
  padding: 0;
  margin: 0;
  font-size: 0;
  list-style: none;
}
.breadcrumbs li {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
.breadcrumbs li::after {
  content: "»";
  position: absolute;
  font-size: 14px;
  color: #fff;
  bottom: 3px;
  right: 7px;
}
.breadcrumbs li:last-child::after {
  content: none;
}
.breadcrumbs a, .breadcrumbs span {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  display: block;
  text-decoration: underline;
  padding: 5px 20px 5px 0;
}
.filter {
  width: 100%;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
  background-color: transparent;
}
.filter fieldset {
  border: none;
} 
.ranging {
  width: 194px;
  float: left;
  margin-right: 14px;
}
.price {
  width: 220px;
  float: left;
  margin-right: 14px;
}
.fatness {
  width: 412px;
  margin-right: 0;
  float: left;
}
.ingredient {
  width: 702px;
  float: left;
  margin-right: 14px;
}
.btn-filter {
  width: 144px;
  margin-right: 0;
  float: left;
}
.hit-item, .catalog-items {
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 0;
  clear: both;
}
.item {
  width: 23.35%;
  display: inline-block;
  vertical-align: top;
  margin-right: 2.2%;
  margin-bottom: 40px;
  padding: 0;
  position: relative;
  overflow: hidden;
  font-size: 16px;
  line-height: 22px;
  background-color: transparent;
}
.item:nth-child(4n) {
  margin-right: 0;
}
.item figure {
  padding: 0;
  margin: 0;
}
.item figcaption {
  padding-top: 5.5px;
  text-align: center;
}
.item a {
  color: #fff;
  text-decoration: underline;
}
.item img {
  width: 100%;
  height: auto;
}
.item-price {
  margin: 0;
  font-size: 30px;
  line-height: 13.3px;
  position: absolute;
  left: 0;
  top: 70%;
}
.item-price b {
  font-size: 46px;
  line-height: 13.3px;
  font-weight: 700;
}
.hit {
  position: absolute;
  top: 0;
  left: 0;
  width: 61px;
  height: 61px;
  background: url(../img/hit-icon.png) no-repeat;
}
.pages {
  width: 100%;
  padding: 0;
  margin: 40px 0;
  text-align: right;
  background-color: transparent;
}
.page {
  color: #fff;
  text-decoration: none;
  padding: 3px 8px;
}
.pages .active {
  border-radius: 50%;
  color: #353535;
  background-color: #fff;
}
.page-prev {
  margin-right: 12px;
}
.page-next {
  margin-left: 12px;
}
.company-features {
  float: left;
  width: 100%;
  margin: 0;
  margin-bottom: 40px;
  padding: 24px 19px;
  font-size: 0;
  color: #323232;
  border-radius: 15px;
  background-color: #efe3ca;
  background: url(../img/company-features-bg.jpg);
}
.company-features h1 {
  width: 100%;
  margin: 0;
  margin-bottom: 21px;
  padding: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}
.company-feature {
  width: 48.9%;
  display: inline-block;
  vertical-align: top;
  padding: 0;
  padding-left: 57px;
  margin: 0;
  margin-right: 2.2%;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  position: relative;
  background-color: transparent;
}
.company-feature:nth-of-type(2n) {
  margin-right: 0;
  padding-left: 58px;
}
.company-feature:nth-of-type(1), .company-feature:nth-of-type(2) {
  padding-bottom: 22px;
}
.company-feature svg {
  position: absolute;
  left: 2px;
  top: -12px;
}
.blog {
  width: 48.9%;
  min-height: 220px;
  padding: 23px 19px;
  float: left;
  margin: 0;
  margin-right: 2.2%;
  margin-bottom: 40px;
  border-radius: 15px;
  background-color: #fff;
  background: url(../img/strawberry-bg-main.jpg) 245% 32%;
}
.blog p {
  color: #5a5a5a;
  padding: 0;
  margin: 0;
  margin-bottom: 3px;
}
.blog a {
  color: #353535;
  font-size: 24px;
  font-weight: 700;
  line-height: 31px;
}
.subscribe {
  width: 48.9%;
  min-height: 220px;
  padding: 5px 4px 5px 6px;
  float: right;
  margin: 0;
  margin-bottom: 40px;
  border-radius: 15px;
  background: url(../img/post-bg.png);
}
.subscribe-wrapper {
  border-radius: 15px;
  background-color: #f8f7f4;
  padding: 29px 21px;
}
.subscribe p {
  color: #5a5a5a;
  font-weight: 400;
  margin: 0;
  margin-bottom: 36px;
  padding: 0;
}
.subscribe-form {
  margin-bottom: 6px;
}
.btn-subscribe {
  padding: 10px 20px;
  font-size: 17px;
  font-weight: 700;
  line-height: 24.3px;
}
.address {
  width: 100%;
  min-height: 430px;
  margin: 0;
  padding: 0;
  position: relative;
  background: url(../img/adress-map.jpg);
}
.address-wrapper {
  position: relative;
}
.address-wrapper::before {
  content: "";
  width: 218px; 
  height: 142px;
  position: absolute;
  top: 139px;
  left: 266px;
  background: url(../img/cursor-for-map.png) no-repeat;
}
.address-description {
  width: 302px;
  position: absolute;
  top: 65px;
  right: 2.2%;
  padding: 29px 25px 30px 25px;
  border-radius: 15px;
  color: #343434;
  background-color: #fff;
}
.address-description p {
  padding: 0;
  margin: 0;
  margin-bottom: 19px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
.address-description p:last-of-type {
  margin-bottom: 40px;
}
.address-description strong {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}
.feedback-btn {
  font-size: 17px;
  line-height: 24.3px;
  font-weight: 700;
  padding: 12px 34px 13px 32px;
}
footer {
  position: relative;
}
footer::before {
  content: " ";
  height: 1px;
  position: absolute;
  top: 0;
  right: 2.2%;
  left: 2.2%;
  background-color: #a9bbb1;
}
.footer-smm {
  width: 23.3%;
  float: left;
  padding: 0;
  padding-top: 34px;
  margin: 0;
  margin-right: 2.2%;
  font-size: 0;
  background-color: transparent;
}
.smm-btn {
  display: inline-block;
  vertical-align: middle;
  width: 37.4px;
  height: 37.4px;
  margin: 0;
  margin-right: 12px;
  padding: 0;
  border-radius: 50%;
  padding: 3px;
  background-color: #c2cec7;
}
.smm-btn-insta svg {
  fill: #fff;
  opacity: 0.8;
}
.partner-menu {
  float: left;
  width: 48.8%;
  padding-top: 34px;
  font-size: 0;
  background-color: transparent;
}
.partner-menu-left {
  width: 135px;
  display: inline-block;
  padding-left: 22px;
  text-align: left;
  vertical-align: top;
  position: relative;
  margin-left: 108px;
  background-color: transparent;
}
.partner-menu-right {
  width: 165px;
  display: inline-block;
  text-align: left;
  margin-left: 29px;
  vertical-align: top;
  background-color: transparent;
}
.partner-menu a {
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  line-height: 16.5px;
  text-decoration: underline;
}
.partner-menu .special {
  font-weight: 700;
}
.partner-menu-left svg {
  position: absolute;
  left: 0;
  top: 2px;
  width: 14.562px;
  height: 12.66px;
  fill: #f7f8f8;
}
.footer-copyright {
  float: right;
  width: 188px;
  font-size: 11.9px;
  font-weight: 400;
  line-height: 16px;
  padding: 0;
  padding-top: 19px;
  margin: 0;
  background-color: transparent;
}
.footer-copyright p{
  margin-top: 2px;
}
.copyright-link {
  color: #fff;
  text-decoration: underline;
}
.company-feature svg {
  fill: #323232;
}
.smm-btn-vk svg {
  fill: #fff;
  opacity: 0.8;
}
.smm-btn-twit svg {
  fill: #fff;
  opacity: 0.8;
}
.smm-btn-fb svg {
  fill: #fff;
  opacity: 0.8;
}
.page-next svg {
  fill: #fff;
  opacity: 1;
  transform: rotate(180deg);
}
.page-prev svg {
  fill: #fff;
  opacity: 0.2;
}
