body {
  font-size: 16px;
  line-height: 22px;
  color: #fff;
  font-weight: 500;
  font-family: "Roboto", "Arial", sans-serif;
  background-color: #89a194;
  margin: 0 auto;
  max-width: 1200px;
}
*, *:before, *:after {
  box-sizing: border-box;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.wrapper {
  transition: background-image 0.5s ease, background-color 0.5s ease;
/*  background-color: #89a194;*/
  background-repeat: no-repeat;
  background-position: top center; 
  margin: 0 auto;
  position: relative;
}
/*.inner-container {
  min-width: 900px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2.3%;*/
.container {
  min-width: 900px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 2.3%;
  position: relative;
  background-color: transparent;
}
.header-style {
  width: 100%;
  padding: 0;
  margin: 0;
}
.header-menu {
  width: 45.1%;
  float: left;
  padding: 0;
  margin: 0;
  margin-right: 2.2%;
}
.main-logo {
  width: 154px;
  height: 73px;
  float: left;
  padding: 0;
  padding-top: 9px;
  margin: 0;
  margin-right: 16px;
  margin-left: -5px;
}
.main-menu {
  padding: 0;
  padding-top: 23px;
  margin: 0;
  font-size: 0;
  list-style: none;
}
.main-menu > li {
  display: inline-block;
  vertical-align: top;
  position: relative;
}
.main-menu a {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 20.8px;
  display: block;
  margin: 0;
  margin-left: 12px;
  margin-right: 16px;
  margin-top: 6px;
  text-decoration: none;
  border-bottom: 1px solid rgba(255,255,255,0.4);
}
.main-menu > li:hover > a {
  color: #000;
  background-color: #fff;
  border-radius: 20px;
  text-decoration: none;
  border-bottom: none;
  padding: 6px 12px;
  margin: 0;
}
.main-menu > li:active > a {
  color: #000;
  background-color: #fff;
  box-shadow:  inset 0px 2px 1px 0px rgba(105, 105, 105, 1);
  border-radius: 20px;
  text-decoration: none;
  border-bottom: none;
}
.active-menu .active-link {
  text-decoration: none;
  border: none;
  background-color: #d07058;
  border-radius: 20px;
  padding: 6px 12px;
  margin: 0;
  margin-right: 4px;
}
.submenu {
  display: none;
  position: absolute;
  left: -7px;
  top: 37px;
  width: 143px;
  background-color: #f8f7f4;
  border-radius: 5px;
  padding: 0;  
  margin: 0;
  z-index: 50;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}
.main-menu > li:hover .submenu {
  display: block;
}
.submenu>li {
  padding: 0;
  margin: 0;
}
.main-menu .submenu a {
  color: #343434;
  border: none;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  padding: 10px 9px 0 21px;
  margin: 0;
}
.submenu .new a {
  border-bottom: 1px solid #d1d0ce;
  font-weight: 700;
} 
.submenu li:hover > a {
  background-color: #fbded7;
  cursor: pointer;
}
.submenu li:active > a {
  background-color: #f6b5a5;
  cursor: pointer;
}
.timetable {
  width: 173px;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 2.2%;
  top: 100%;
  text-align: right;
  font-size: 14px;
  font-weight: 700;
  line-height: 18.2px;
  background-color: transparent;
}
.timetable span {
  font-size: 22px;
  font-weight: 900;
  line-height: 28.6px;
}
.user-block {
  width: 30.5%;
  float: right;
  padding: 0;
  padding-top: 30px;
  margin: 0;
  font-size: 0;
  text-align: right;
  position: relative;
  background-color: transparent;
}
.user-block a {
  text-decoration: none;
}
.search {
  border-radius: 25px;
  margin: 0;
  position: relative;
  padding: 7px 16px;
  background-color: rgba(255,255,255,0.2);
  font-size: 14px;
  line-height: 18.2px;
}
.search:hover {
  background-color: rgba(255,255,255,1);
}
.search svg {
  fill: #fff;
  position: absolute;
  top: 7px;
  left: 7px;
}
.search:hover svg {
  fill: #000;
}
.search:hover ~ .search-box {
  display: block;
}
.search-box {
  display: none;
  width: 272px;
  padding: 15px;
  color: #d1d0ce;
  background-color: #f8f7f4;
  position: absolute;
  top: 60px;
  right: 228px;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  z-index: 50;
}
.search-box-show {
  display: block;
}
.text-input {
  border: 1px solid #d3d3d2;
  border-radius: 5px;
  padding: 9px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 24.3px;
  color: #353535;
  display: inline-block;
  vertical-align: top;
  margin: 0;
  margin-right: 9px;
  margin-bottom: 6px;
  position: relative;
}
.search-box .text-input {
  min-width: 242px;
  margin: 0;
}
.text-input::-webkit-input-placeholder {
  color: #d3d3d2; 
  font-weight: 400;
}
.text-input:hover {
  border: 2px solid #c7c6c5;
}
.text-input:focus {
  border: 2px solid #8fbdec;
}
.text-input:active {
  border: 1px solid #d3d3d2;
}
.text-input:focus::-webkit-input-placeholder {
  color: transparent;
}
.login {
  position: relative;
  margin: 0;
  margin-left: 9px;
  padding: 8px 13px 8px 44px;
  background-color: rgba(255,255,255,0.2);
  border-radius: 25px;
  font-size: 14px;
  line-height: 18.2px;
  color: #fff;
}
.login:hover {
  background-color: rgba(255,255,255,1);
  color: #000;
}
.login svg {
  fill: #fff;
  position: absolute;
  top: 6px;
  left: 16px;
}
.login:hover svg {
  fill: #000;
}
.login:hover ~ .login-box {
  display: block;
}
.login-box {
  display: none;
  width: 273px;
  padding: 15px;
  position: absolute;
  top: 60px;
  right: 124px;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  z-index: 50;
  color: #333333;
  background-color: #f8f7f4;
  font-size: 0;
  text-align: left;
}
.login-form {
  display: inline;
  vertical-align: middle;
}
.login-form .text-input {
  display: inline-block;
  vertical-align: middle;
  width: 241px;
}
.small-bth {
  display: inline-block;
  vertical-align: middle;
  color: #fefefe;
  padding: 6px 30px;
  font-size: 15px;
  font-weight: 700;
  line-height: 24.3px;
  font-family: "Roboto", "Arial", sans-serif;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 25px;
  box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 1);
  background: rgb(231, 74, 53) -webkit-linear-gradient(90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 57) 100%);
  background: rgb(231, 74, 53) linear-gradient(180deg, rgb(231, 74, 53) 0%, rgb(242, 104, 57) 100%);
}
.small-bth:hover {
  box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 1);
  background: rgb(246, 142, 115) -webkit-linear-gradient(90deg, rgb(246, 142, 115) 0%, rgb(236, 111, 94) 100%);
  background: rgb(246, 142, 115) linear-gradient(180deg, rgb(246, 142, 115) 0%, rgb(236, 111, 94) 100%);
}
.small-bth:active {
  box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 1);
  background: rgb(215, 70, 50) -webkit-linear-gradient(90deg, rgb(215, 70, 50) 0%, rgb(227, 108, 75) 100%);
  background: rgb(215, 70, 50) linear-gradient(180deg, rgb(215, 70, 50) 0%, rgb(227, 108, 75) 100%);
}
.login-options {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  width: 120px;
  min-height: 36px;
  margin-left: 18px;
}
.login-options a {
  color: #333333;
  border-bottom: 1px solid rgba(0,0,0,0.3);
  font-weight: 400;
  font-size: 13px;
  line-height: 24.3px;
  text-decoration: none;
}
.border {
  fill: #fff;
}
.cart {
  display: none;
  position: relative;
  margin: 0;
  margin-left: 10px;
  padding: 8px 34px 8px 42px;
  background-color: rgba(255,255,255,0.2);
  border-radius: 25px;
  font-size: 14px;
  line-height: 18.2px;
  color: #fff;
}
.cart-icon {
  position: absolute;
  left: 16px;
  top: 7px;
}
.full-cart {
  display: inline;
  position: relative;
  margin: 0;
  margin-left: 10px;
  padding: 8px 15px 8px 44px;
  background-color: #f7f6f3;
  color: #313131;
  border-radius: 25px;
  font-size: 14px;
  line-height: 18.2px;
}
.full-cart-icon {
  position: absolute;
  left: 16px;
  top: 7px;
}
.full-cart-icon .inside {
  fill: #ec573b;
}
.full-cart-icon .border {
  fill: #343434;
}
.cart-box {
  display: none;
  width: 540px;
  padding: 25px 14px 20px 17px;
  position: absolute;
  right: -1px;
  top: 60px;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  z-index: 50;
  color: #333333;
  background-color: #f8f7f4;
  font-size: 0;
}
.full-cart:hover ~ .cart-box {
  display: block;
}
.cart-item {
  border-bottom: 1px solid #cacac7;
  text-align: left;
}
.cart-item-info {
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
  margin-bottom: 10px;
}
.delete-icon,
.cart-item img,
.cart-item-name,
.calculation,
.sum {
  display: inline-block;
  margin-bottom: 10px;
  vertical-align: middle;
}
.delete-icon,
.cart-item img {
  margin-right: 15px;
}
.cart-item-name,
.calculation {
  margin-right: 25px;
}
.cart-item-name {
  width: 220px;
}
.cart-price {
  color: #808080;
}
.cart-box .total {
  font-size: 15px;
  font-weight: 700;
  line-height: 19.5px;
  text-align: right;
  margin: 13px 0;
}
.cart-btn {
  text-align: right;
  cursor: pointer;
}
.delete-icon svg {
  fill: #353535;
}
.slider {
  position: relative;
}
.slider-content {
  width: 100%;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  padding-top: 319px;
  position: relative;
  text-align: center;
  color: #fff;
}
.slider-content h1 {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-size: 60px;
  line-height: 60.35px;
  font-weight: 900;
}
.big-btn {
  display: inline-block;
  padding: 1px 44px;
  font-size: 31.5px;
  font-weight: 700;
  line-height: 63px;
  vertical-align: top;
  color: #fff;
  text-decoration: none;
  border-radius: 100px;
  cursor: pointer;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64); 
  background: rgb(242, 104, 67) -webkit-linear-gradient(90deg, rgb(242, 104, 67) 0%, rgb(231, 74, 53) 100%);
  background: rgb(242, 104, 67) linear-gradient(180deg, rgb(242, 104, 67) 0%, rgb(231, 74, 53) 100%);
}
.big-btn:hover {
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 1);
  background: rgb(236, 111, 94) -webkit-linear-gradient(270deg, rgb(236, 111, 94) 0%, rgb(245, 134, 105) 100%);
  background: rgb(236, 111, 94) linear-gradient(0deg, rgb(236, 111, 94) 0%, rgb(245, 134, 105) 100%);
}
.big-btn:active {
  box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 1);
  background: rgb(231, 74, 53) -webkit-linear-gradient(90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
  background: rgb(231, 74, 53) linear-gradient(180deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
}
body>input[type="radio"] {
  display: none;
}
.label-controls {
  position: absolute;
  bottom: 22px;
  left: 0;
  z-index: 20;
  font-size: 0;
}
.label-controls label {
  display: inline-block;
  width: 21px;
  height: 21px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 50%;
  cursor: pointer;
}
.label-controls label:hover {
  background-color: #b2c1b7; 
}
.slide {
  display: none;
}
#btn1:checked ~ .wrapper label[for="btn1"], 
#btn2:checked ~ .wrapper label[for="btn2"],
#btn3:checked ~ .wrapper label[for="btn3"] {
  background-color: #fff;
}
#btn1:checked ~ .wrapper #slide1, 
#btn2:checked ~ .wrapper #slide2, 
#btn3:checked ~ .wrapper #slide3 {
  display: block;
}
#btn1:checked ~ .wrapper {
  background-color: #89a194;
  background-image: url("../img/slider-foto-1.png"); 
}
#btn2:checked ~ .wrapper {
  background-color: #8996a6;
  background-image: url("../img/slider-foto-2.png");
}
#btn3:checked ~ .wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slider-foto-3.png");
}
.middle-btn {
  padding: 9px 21px;
  color: #fff;
  border-radius: 25px;
  border: none;
  outline: none;
  text-decoration: none;
  text-align: center;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 24.3px;
  cursor: pointer;
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64); 
  background: rgb(242, 104, 57) -webkit-linear-gradient(90deg, rgb(242, 104, 57) 0%, rgb(231, 74, 53) 100%);
  background: rgb(242, 104, 57) linear-gradient(180deg, rgb(242, 104, 57) 0%, rgb(231, 74, 53) 100%);
}
.middle-btn:hover {
  box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 1);
  background: rgb(245, 134, 105) -webkit-linear-gradient(90deg, rgb(245, 134, 105) 0%, rgb(236, 111, 94) 100%);
  background: rgb(245, 134, 105) linear-gradient(180deg, rgb(245, 134, 105) 0%, rgb(236, 111, 94) 100%);
}
.middle-btn:active {
  box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 1);
  background: rgb(225, 97, 62) -webkit-linear-gradient(270deg, rgb(225, 97, 62) 0%, rgb(215, 69, 49) 100%);
  background: rgb(225, 97, 62) linear-gradient(0deg, rgb(225, 97, 62) 0%, rgb(215, 69, 49) 100%);
}
.promo1 {
  width: 48.9%;
  min-height: 230px;
  padding: 14px 21px 23px 18px;
  float: left;
  margin: 0;
  margin-right: 2.2%;
  margin-bottom: 40px;
  border-radius: 15px;
  background: #4c0b1b url("../img/raspberry-bg-main.jpg");
}
.promo2 {
  width: 48.9%;
  min-height: 230px;
  padding: 12px 21px 30px 19px;
  float: right;
  margin: 0;
  margin-bottom: 40px;
  border-radius: 15px;
  background: #5a3324 url("../img/chocolate-bg-main.jpg");
}
.promo1 h2 {
  margin: 0;
  margin-bottom: 13px;
  padding: 0;
  font-size: 35px;
  font-weight: 700;
  line-height: 45.5px;
}
.promo2 h2 {
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
  font-size: 35px;
  font-weight: 700;
  line-height: 45.5px;
}
.promo1-description, .promo2-description {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  margin: 0;
  margin-left: 1px;
  margin-bottom: 45px;
}
.promo2-description {
  margin-bottom: 40px;
}
.promo1 .middle-btn, .promo2 .middle-btn {
  float: right;
}
.breadcrumbs {
  width: 80%;
  margin-top: 20px;
}
.breadcrumbs ul {
  padding: 0;
  margin: 0;
  margin-left: -1px;
  font-size: 0;
  list-style: none;
}
.breadcrumbs li {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
.breadcrumbs li::after {
  content: "»";
  position: absolute;
  font-size: 14px;
  color: #fff;
  bottom: 3px;
  right: 6.5px;
}
.breadcrumbs li:last-child::after {
  content: none;
}
.breadcrumbs a, .breadcrumbs span {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  display: block;
  text-decoration: none;
  border-bottom: 1px solid rgba(255,255,255,0.4);
  margin: 5px 20px 4px 0;
}
.breadcrumbs span {
  border: none;
}
.breadcrumbs a:hover, .breadcrumbs a:active {
  color: #ffbc9e;
  border-bottom-color: rgba(249,172,159,0.3);
}
.catalog-title {
  width: 100%;
  font-size: 35px;
  font-weight: 700;
  line-height: 30px;
  margin: 0;
  margin-bottom: 28px;
  padding: 3px 0;
}
.filter {
  width: 100%;
  padding: 0;
  margin: 0;
  margin-bottom: 42px;
  background-color: transparent;
}
.filter fieldset {
  border: none;
  margin: 0;
  margin-right: 14px;
  margin-bottom: 14px;
  padding: 0;
  font-size: 0;
} 
.filter fieldset:nth-of-type(3) {
  margin-right: 0px;
}
.filter fieldset:last-of-type {
  margin-bottom: 0;
}
.filter legend {
  padding: 0;
  padding-left: 15px;
  margin: 0;
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 18px;
}
.ranging {
  width: 194px;
  float: left;
} 
.ranging-options {
  position: relative;
}
.ranging-options select {
  border: none;
  outline: none;
  padding: 6px 45px 7px 11px;
  border-radius: 25px;
  background-color: rgba(255,255,255,0.2);
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  font-family: inherit;
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
}
.ranging-options select:hover {
  background-color: rgba(255,255,255,1);
  color: #343434;
}
.ranging-options svg {
  position: absolute;
  right: 15px;
  top: 16px;
  fill: #fff;
}
.ranging-options select:hover + svg {
  fill: #343434;
}
.price {
  width: 220px;
  float: left;
}
.range-price {
  padding: 16px 15px;
  border-radius: 25px;
  background-color: rgba(255,255,255,0.2);
  position: relative;
}
.bar {
  width: 188px;
  height: 4px;
  background-color: rgba(248,247,244,0.5);
}
.active-bar {
  margin-left: 22px;
  width: 107px;
  height: 4px;
  background-color: rgba(248,247,244,1);
}
.left-wheel {
  position: absolute;
  left: 35px;
  top: 8px;
  width: 20px;
  height: 20px;
  background-color: rgba(248,247,244,1);
  border-radius: 50%;
  cursor: pointer;
}
.right-wheel {
  position: absolute;
  right: 67px;
  top: 8px;
  width: 20px;
  height: 20px;
  background-color: rgba(248,247,244,1);
  border-radius: 50%;
  cursor: pointer;
}
.left-wheel:hover, .right-wheel:hover {
  width: 22px;
  height: 22px;
}
.fatness {
  width: 414px;
  float: left;
}
.fatness-options {
  padding: 7px 5px 2px 16px;
  border-radius: 25px;
  background-color: rgba(255,255,255,0.2);
}
.fatness input[type="radio"] {
  display: none;
}
.fatness label {
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  font-family: "Roboto", "Arial", sans-serif;
  position: relative;
  padding-left: 31px;
  margin-right: 18px;
}
.fatness label:last-of-type {
  margin-right: 0;
}
.fatness label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 1px solid rgba(248,247,244,1);
  border-radius: 50%;
  cursor: pointer;
}
.fatness input[type="radio"]:checked + label::after {
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 50%;
  background-color: rgba(248,247,244,1);
}
.fatness label:hover::before {
  border: 2px solid #f8f7f4;
}
.fatness input[type="radio"]:disabled + label::before {
  border: 1px solid rgba(248,247,244,0.4);
}
.fatness input[type="radio"]:disabled + label::after {
  background-color: rgba(248,247,244,0.4);
}
.ingredient {
  width: 702px;
  float: left;
}
.ingredient-options {
  padding: 7px 5px 2px 16px;
  border-radius: 25px;
  background-color: rgba(255,255,255,0.2);
}
.ingredient input[type="checkbox"] {
  display: none;
}
.ingredient label {
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  font-family: "Roboto", "Arial", sans-serif;
  position: relative;
  padding-left: 31px;
  margin-right: 22px;
}
.ingredient label:last-of-type {
  margin-right: 0;
}
.ingredient label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 1px solid rgba(248,247,244,1);
  border-radius: 5px;
  cursor: pointer;
}
.ingredient input[type="checkbox"]:checked + label::after {
  content: "";
  width: 10px;
  height: 5px;
  position: absolute;
  background-color: transparent;
  border-bottom: 2px solid rgba(248,247,244,1);
  border-left: 2px solid rgba(248,247,244,1);
  transform: rotate(-45deg);
  overflow: hidden;
  top: 6px;
  left: 6px;
}
.ingredient label:hover::before {
  border: 2px solid #fff;
}
.ingredient input[type="checkbox"]:disabled + label::before {
  border: 1px solid rgba(248,247,244,0.4);
}
.ingredient input[type="checkbox"]:disabled + label::after {
  border-color: rgba(248,247,244,0.4);
}
.btn-filter {
  width: 144px;
  float: left;
  margin-right: 0;
  margin-top: 23px;
}
.btn-filter input {
  border: 2px solid rgba(255,255,255,1);
  border-radius: 25px;
  outline: none;
  padding: 5px 27px 6px 28px;
  background-color: rgba(255,255,255,0.2);
  color: rgba(255,255,255,1);
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  font-family: "Roboto", "Arial", sans-serif;
}
.btn-filter input:hover {
  background-color: rgba(255,255,255,1);
  color: #383939;
}
.btn-filter input:active {
  border: none;
  background-color: #eaeaea;
  color: #383939;
  box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 1);
}
.hit-item, .catalog-items {
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 0;
  clear: both;
}
.item {
  width: 23.35%;
  display: inline-block;
  vertical-align: top;
  margin-right: 2.2%;
  margin-bottom: 40px;
  padding: 0;
  position: relative;
  font-size: 16px;
  line-height: 22px;
}
.item:nth-child(4n) {
  margin-right: 0;
}
.item:hover::before {
  content: "";
  position: absolute;
  left: -10px;
  bottom: -10px;
  right: -10px;
  top: -10px;
  background-color: rgba(255,255,255,0.3);
  border-radius: 5px;
}
.item-btn {
  display: none;
  vertical-align: middle;
  margin-top: 15px;
}
.item:hover .item-btn {
  display: inline-block;
}
.hit {
  position: absolute;
  top: 0;
  left: 0;
  width: 61px;
  height: 61px;
  z-index: 5;
  background: url("../img/hit-icon.png") no-repeat;
}
.item-price-img {
  position: relative;
}
.item img {
  width: 100%;
  height: auto;
}
.item-price {
  margin: 0;
  font-size: 30px;
  line-height: 13.3px;
  position: absolute;
  left: 0;
  top: 82%;
}
.item-price b {
  font-size: 46px;
  line-height: 13.3px;
  font-weight: 700;
}
.item-description {
  padding-top: 5.5px;
  text-align: center;
}
.item-description a {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid rgba(255,255,255,0.4);
}
.company-features {
  float: left;
  width: 100%;
  margin: 0;
  margin-bottom: 40px;
  padding: 23px 19px 24px 19px;
  font-size: 0;
  color: #323232;
  border-radius: 15px;
  background: #efe3ca url("../img/company-features-bg.jpg");
}
.company-features h1 {
  width: 100%;
  margin: 0;
  margin-bottom: 22px;
  padding: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}
.word-spacing1 {
  word-spacing: 6.5px;
}
.word-spacing2 {
  word-spacing: 4px;
}
.company-feature {
  width: 48.9%;
  display: inline-block;
  vertical-align: top;
  padding: 0;
  padding-left: 57px;
  margin: 0;
  margin-right: 2.2%;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  position: relative;
  background-color: transparent;
}
.company-feature:nth-of-type(2n) {
  margin-right: 0;
  padding-left: 58px;
}
.company-feature:nth-of-type(1), .company-feature:nth-of-type(2) {
  padding-bottom: 22px;
}
.company-feature svg {
  position: absolute;
  left: 2px;
  top: -12px;
  fill: #323232;
}
.company-feature span {
  word-spacing: 4px;
}
.blog {
  width: 48.9%;
  min-height: 220px;
  padding: 23px 19px;
  float: left;
  margin: 0;
  margin-right: 2.2%;
  margin-bottom: 40px;
  border-radius: 15px;
  background-color: #fff;
  background-image: url("../img/strawberry-bg-main.jpg");
  background-repeat: no-repeat;
  background-position: 145px -90px;
}
.blog p {
  color: #5a5a5a;
  padding: 0;
  margin: 0;
  margin-bottom: 3px;
}
.blog a {
  color: #353535;
  font-size: 24px;
  font-weight: 700;
  line-height: 31px;
  word-spacing: 3px;
  text-decoration: none;
  border-bottom: 2px solid rgba(0,0,0,0.3);
}
.blog a:hover, .blog a:active {
  color: rgba(236,89,60,1);
  border-bottom-color: rgba(236,89,60,0.3);
}
.subscribe {
  width: 48.9%;
  min-height: 220px;
  padding: 5px;
  padding-left: 6px;
  float: right;
  margin: 0;
  margin-bottom: 40px;
  border-radius: 15px;
  background: repeating-linear-gradient(-45deg, #92cdff, #92cdff 7px, #f8f7f4 7px, #f8f7f4 14px, #fe9e90 14px, #fe9e90 21px, #f8f7f4 21px, #f8f7f4 28px);
}
.subscribe-wrapper {
  border-radius: 10px;
  background-color: #f8f7f4;
  padding: 28px 21px;
}
.subscribe p {
  color: #5a5a5a;
  font-weight: 400;
  margin: 0;
  margin-bottom: 36px;
  padding: 0;
}
.subscribe-form {
  font-size: 0;
}
.subscribe-form .text-input {
  min-width: 369px;
}
.btn-subscribe {
  padding: 9px 21px;
  font-family: inherit;
  font-size: 17px;
  font-weight: 700;
  line-height: 24.3px;
  outline: none;
  border: none;
  display: inline-block;
  vertical-align: top;
}
.btn-subscribe:active {
  box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 1);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%)
}
.address {
  width: 100%;
  min-height: 430px;
  margin: 0;
  padding: 0;
  position: relative;
/*  background: url("../img/adress-map.jpg");*/
  z-index: 30;
}
.address-wrapper {
  position: relative;
}
.address-wrapper::before {
 /* content: "";*/
  width: 218px; 
  height: 142px;
  position: absolute;
  top: 139px;
  left: 266px;
  background: url("../img/cursor-for-map.png") no-repeat;
}
.address-description {
  width: 302px;
  position: absolute;
  top: 65px;
  right: 2.2%;
  padding: 29px 25px 30px 25px;
  border-radius: 15px;
  color: #343434;
  background-color: #fff;
  z-index: 40;
}
.address-description p {
  padding: 0;
  margin: 0;
  margin-bottom: 19px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
.address-description p:last-of-type {
  margin-bottom: 40px;
}
.address-description strong {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}
.feedback-btn {
  font-size: 17px;
  line-height: 24.3px;
  font-weight: 700;
  padding: 12px 34px 13px 32px;
}
.feedback-btn:active {
  box-shadow: inset 0 2px 2px 0 rgba(148, 39, 24, 1);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: linear-gradient(to bottom,#d84732 0%, #e1613e 100%);
}
.feedback-box {
  position: fixed;
  display: none;
  top: 30%;
  left: 30%;
  width: 477px;
  padding: 20px 25px 27px 24px;
  font-family: inherit;
  border-radius: 10px;
  z-index: 150;
  background-color: #f8f7f4;
}
.feedback-box-show {
  display: block;
  animation: jump 0.6s;
}
@keyframes jump {
  0% { transform: translateY(-2000px); }
  70% { transform: translateY(30px); }
  90% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}
.feedback-box-overlay {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(0,0,0,0.3);
}
.feedback-box-overlay-show {
  display: block;
}
.feedback-box-close {
  position: absolute;
  top: 12px;
  right: 18px;
  width: 18px;
  height: 18px;
  border: 0;
  outline: 0;
  cursor: pointer;
  background-color: transparent;
}
.feedback-box-close::before,
.feedback-box-close::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 2px;
  width: 16px;
  height: 2px;
  background-color: #000000;
  border-radius: 1px;
}
.feedback-box-close::before {
  transform: rotate(45deg);
}
.feedback-box-close::after {
  transform: rotate(-45deg);
}
.feedback-box-title {
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
  color: #343434;
  font-size: 24px;
}
.feedback-form .text-input {
  width: 268px;
  color: #343434;
  font-weight: 400;
  margin-bottom: 20px;
}
.text-input::-webkit-input-placeholder {
  color: #656565; 
  font-weight: 400;
  font-size: 16px;
}
.feedback-form .textarea-form {
  width: 429px;
  min-height: 155px;
}
.btn-feedback {
  display: block;
  margin-left: 300px;
}
@keyframes shake {
0%, 100% { transform: translateX(0); }
10%, 30%, 50%, 70%, 90% { transform: translateX(-10px); }
20%, 40%, 60%, 80% { transform: translateX(10px); }
}
.feedback-error {
  animation: shake 0.6s;
}
.pages {
  width: 100%;
  padding: 0;
  margin: 43px 0 41px 0;
  text-align: right;
  background-color: transparent;
}
.page {
  color: #fff;
  text-decoration: none;
  padding: 3px 8px;
}
.page:hover {
  background-color: rgba(251,252,251,0.2);
  border-radius: 50%;
}
.page:active {
  border-radius: 50%;
  color: #353535;
  background-color: rgba(251,252,251,1);
}
.pages .active {
  border-radius: 50%;
  color: #353535;
  background-color: rgba(251,252,251,1);
}
.page-prev {
  margin-right: 12px;
}
.page-next {
  margin-left: 12px;
}
.page-next svg {
  fill: #fff;
  opacity: 1;
  transform: rotate(180deg);
}
.page-prev svg {
  fill: #fff;
  opacity: 0.2;
}
footer {
  position: relative;
  padding-top: 19px;
}
footer::before {
  content: " ";
  height: 1px;
  position: absolute;
  top: 0;
  right: 2.2%;
  left: 2.2%;
  background-color: #a9bbb1;
}
.container .index-footer-smm {
  padding-top: 34px;
}
.footer-smm {
  width: 23.3%;
  float: left;
  padding: 0;
  padding-top: 19px;
  margin: 0;
  margin-right: 2.2%;
  font-size: 0;
  background-color: transparent;
}
.smm-btn {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  margin-right: 11.1px;
  padding: 0;
  border: 3px solid rgba(255,255,255,0.5);
  border-radius: 50%;
  width: 38px;
  height: 38px;
}
.smm-btn:hover {
  border-color: rgba(255,255,255,0.71);
}
.smm-btn:active {
  border-color: rgba(255,255,255,0.7);
  box-shadow:: inset 0 2px 1px 0 rgba(136, 136, 136, 1);
}
.smm-btn svg {
  fill: #e6ebe9;
}
.smm-btn:hover svg {
  fill: #fdfdfd;
}
.smm-btn:active svg {
  fill: #e9e9e9;
}
.container .index-partner-menu {
  padding-top: 34px;
}
.partner-menu {
  float: left;
  width: 48.8%;
  text-align: center;
  padding: 0;
  padding-top: 19px;
  margin: 0;
  font-size: 0;
  background-color: transparent;
}
.partner-menu-left {
  width: 135px;
  display: inline-block;
  padding-left: 22px;
  text-align: left;
  vertical-align: top;
  position: relative;
  margin-left: -13px;
  background-color: transparent;
}
.partner-menu-right {
  width: 165px;
  display: inline-block;
  text-align: left;
  margin-left: 29px;
  vertical-align: top;
  background-color: transparent;
}
.partner-menu a {
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  line-height: 16.5px;
  text-decoration: none;
  border-bottom: 1px solid rgba(255,255,255,0.4);
}
.partner-menu a:hover, .partner-menu a:active {
  color: #ffbc9e;
  border-bottom: 1px solid #f9cdc4;
}
.partner-menu .special {
  font-weight: 700;
}
.partner-menu-left svg {
  position: absolute;
  left: 0;
  top: 2px;
  width: 14.562px;
  height: 12.66px;
  fill: #f7f8f8;
}
.container .index-footer-copyright {
  padding-top: 19px;
}
.footer-copyright {
  float: right;
  width: 188px;
  font-size: 11.9px;
  font-weight: 400;
  line-height: 16px;
  padding: 0;
  padding-top: 21px;
  margin: 0;
  background-color: transparent;
}
.footer-copyright p{
  margin-top: 2px;
}
.copyright-link {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid rgba(255,255,255,0.4);
}
.copyright-link:hover, .copyright-link:active {
  color: #ffbc9e;
  border-bottom: 1px solid #f9cdc4;
}
